@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
}
@media only screen and (max-width: 991px){
    .navbar-collapse{
        background-color: #e69500;
        z-index: 2;
        padding: 10%;
    }
}
.bg-img {
    background-image: url("img/image 13.png");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.auth-buttons .login{
    color: #ffffff;
}
.auth-buttons a {
    color: #ffa500;
    text-decoration: none;
    margin-left: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
}
.hero-section .h1{
    font-size: 3rem;
}
.auth-buttons a.login:hover {
    background: #555;
}

.auth-buttons a.register {
    background: #fffffe;
    border-color: #ffa500;
}

.auth-buttons a.register:hover {
    background: #e69500;
}













.carousel-cell-king {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
    border-radius: 10px;
    position: relative;
  }
  
  .carousel-cell-king img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  
  .profile_detail{
    position: absolute;
    bottom: 4rem;
    left: 0;
    width: 100%;
    padding: 20px;
    color: white;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  
  .profile_quote {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: white;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  
  .wrapper {
    overflow: hidden;
  }
  
  .carousel-cell-king:hover .profile_detail {
    transform: translateY(-40%);
    font-size: 1.5rem;
  }
  
  .carousel-cell-king:hover .profile_quote {
    transform: translateY(0);
  }


.carousel-container-king {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.carousel-cell-king {
    width: 100%;
    height: auto;
    margin-right: 10px;
    /* background: #fff; */
    border-radius: 15px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
}
.carousel-cell-king img {
    width: 100%;
    /* height: auto; */
    height: 57vh;
    object-fit: cover;
    border-radius: 15px;
}
/* .carousel {
    background: #fff;
} */
/* .flickity-prev-next-button.next {
    right: 21px;
} */
@media (min-width: 600px) {
    .carousel-cell-king {
        width: calc(50% - 10px); /* Adjust for margin */
    }
}
@media (min-width: 800px) {
    .carousel-cell-king {
        width: calc(33.333% - 10px); /* Adjust for margin */
    }
}
@media (min-width: 1000px) {
    .carousel-cell-king {
        width: calc(25% - 10px); /* Adjust for margin */
    }
}
/* @media (min-width: 600px) {
    .carousel-cell {
        width: 50%;
    }
}
@media (min-width: 800px) {
    .carousel-cell {
        width: 33.333%;
    }
}
@media (min-width: 1000px) {
    .carousel-cell {
        width: 25%;
    }
} */

.container1 {
    max-width: 1200px;
    width: 95%;
    margin-bottom: 5%;
}


#outstanding-instructors {
    bottom: 87px;
    left: 73%;
}

#outstanding-instructors1 {
    bottom: 138px;
    left: -7%;
}

#outstanding-instructors .bg-white {
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
}

#outstanding-instructors h6 {
    color: #ff9100;
}

#outstanding-instructors small {
    color: #6c757d;
}

.icon-container {
    font-size: 2rem;
    color: #f77f00;
    background-color: #fff7e6;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}

.card-title {
    color: #f77f00;
    font-weight: bold;
}

.card-text {
    color: #6c757d;
}

.instructor-images {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.top-notch {
    position: relative;
    margin-left: 13%;
}

.instructor-images img {
    width: 40px;
    height: 40px;
    margin-left: -10px;
    border: 2px solid #ffffff;
}

@media only screen and (max-width: 1023px) {
    #outstanding-instructors {
        bottom: 42px;
        left: 65%;
    }

    #outstanding-instructors1 {
        bottom: 60px;
        left: -1%;
    }
}


/* footer */

.footer {
    padding: 35px 38px;
    background-color: #000;
}

.footer .company-name {
    font-size: 24px;
    color: #ff6600;
}

.footer .description {
    margin: 20px 0;
}

.footer a {
    color: #fff;
}

.footer .social-icons a {
    margin-right: 10px;
    color: #fff;
}

.footer .social-icons a:hover {
    color: #ff6600;
}

.footer .subscribe-form {
    display: flex;
    max-width: 400px;
    margin: 20px 0;
    margin-left: 1%;
}

.footer .subscribe-form input[type="email"] {
    border: none;
    padding: 10px;
    flex: 1;
}

.footer .subscribe-form button {
    background-color: #ff6600;
    border: none;
    padding: 10px 20px;
    color: #fff;
}

.footer .powered-by {
    margin-top: 80px;
}

.footer .powered-by img {
    vertical-align: middle;
}

.feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #f8d7da;
    border-radius: 50%;
    margin: 0 auto;
}

.feature-item {
    text-align: center;
    padding: 20px;
}

.feature-text {
    margin-top: 10px;
}

.container-custom {
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .feature-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: #f8d7da;
        border-radius: 50%;
        margin: 0 auto;
    }

    .feature-item {
        text-align: center;
        padding: 10px;
    }

    .feature-text {
        margin-top: 10px;
    }

    .container-custom {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #fff;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    }
}


@media (max-width: 768px) {
    .feature-icon1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: #f8d7da;
        border-radius: 50%;
        margin: 0 auto;
    }

    .feature-item1 {
        text-align: center;
        padding: 20px;
    }

    .feature-text1 {
        margin-top: 10px;
    }

    .container-custom1 {
        
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .hide-sm {
        display: none;
    }
}


/* Top cartegories */


.si h1 {
    position: relative;
    margin-top: 80px;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;

}

.carousel-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.carousel-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.carousel-cell {
    position: relative;
    width: 100%;
    height: auto;
    margin-right: 10px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.carousel-cell img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 15px;
}

.carousel-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
}

.carousel {
    background: #fff;
}

@media (min-width: 600px) {
    .carousel-cell {
        width: calc(50% - 10px);
    }
}

@media (min-width: 800px) {
    .carousel-cell {
        width: calc(33.333% - 10px);
    }
}

@media (min-width: 1000px) {
    .carousel-cell {
        width: calc(25% - 10px);
    }
}


@media (max-width: 576px) {


    .si h1 {
        position: relative;
        margin-top: 25px;
        font-family: Poppins;
        font-size: 30px;
        font-weight: 600;
        line-height: 72px;

    }
}